*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color:#FFFFFF;
    border:none;
    border-radius: 5px;
    padding:19px 35px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}
.heading-section{
    max-width:827px;
    text-align: center;
    margin: 0 auto;
}
.heading-section h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.heading-section p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 31px 23px,bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
/* hero section */
#Hero{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-info{
    max-width: 585px;
}
.hero-info h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.hero-info h1{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}.hero-info p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;   
}
.hero-img{
    max-width: 585px;
    vertical-align: middle;
}
.about,.skill,.resume{
    padding-top: 130px;
    
}
.about-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align:center;
    padding: 131px 156px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.info-card h4{
    color: #474747;

}
.skill-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-info{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px #0000003d;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px ;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.resume-container{
    width:71%;
    max-width: 1140px;
    margin: 113px auto; 
    display: flex;
    gap: 24px;
}
.section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.card-info{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 28px;
}
hr{
    color: #d1d1d1bd;
    margin-bottom: 30px;
}
footer{
    margin-top: 113px;
    padding: 130px 0;
    background-color: #FFF8F3;
}
.footer-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:116px;
}
.social{
    max-width: 512px;
}
.social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.icons{
    max-width: 24px;
    display: flex;
    gap: 24px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.form input[type="text"],textarea{
    width:461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
}